ul#userList {
    padding: 0;
}

ul#userList li {
    display: inline;
}

ul#userList li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#userList li a:hover {
    background-color: orange;
}








